#search {


    .search {
        &__ttl {
            font-size: 24px;
            font-weight: normal;
            margin: 0 0 40px;
            padding-top: 40px;
        }

    }

}
#result-list{
    padding-bottom: 100px;
}

@media screen and (max-width: $BP) {
    #search {

        .search {
            &__ttl {
                font-size: 14px;
                font-weight: normal;
                margin: 0 0 40px;
                padding-top: 40px;
            }

        }

    }

    .search {
        &__bg{
            width: 100vw;
            height: 100vh;
            background-color:rgba(70,70,70,0.4);    
            position: fixed;
            top: 0;
            left: 0; 
            right: 0;
            bottom: 0;  
            z-index: 2;
            display: block;
            padding: 0 5%;
            &.hide{
                display: none;
            }
            .search-form{
                width: 100%;
                border-bottom: none;    
            }
            .search-field{
                width: 88%;
                &:focus{
                    outline: none!important;

                }
            }
            .search-submit{
                min-width: 10%;
                padding: 0; 
            }
        }
        &__blc{
            margin: 130px auto;
            background: #FFF;
            border: solid 1px #eee; 
            border-radius: 3px;
            width: 100%;
            padding: 10px;
        }
    }
}